parameters:
    level: 4
    paths:
        - src
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    ignoreErrors:
        - '#Parameter \$type of method .* has typehint with deprecated enum AgeekDev\\Barcode\\Enums\\Type#'

